  <!DOCTYPE html>
  <html>
  <head>
    <title>Exam-Savior || Welcome to AIML </title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/mobilemedias.css">
  <link rel="stylesheet" href="../../css/darkthemestyles.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../css/footerandfollowus.css">
  <link rel="stylesheet" href="../../css/otherfeaturesservice.css">
  <link rel="stylesheet" href="../../css/sliderstvs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="https://examsavior.net/favicon.png">
    <link rel="icon" type="image/png" href="/images/EXAM SAVIOR (2).png">

  </head>
  <body>

      <%- include('./navbar') %>
      <%- include('./sidebarforaiml') %>
    <h1 class="designedforalltext">Welcome to the AIML Section</h1>


    <!-- Fixed Tabs -->



    <hr>

    <!-- Dynamic Content -->
  
<% if (section === 'firstyr') { %>
  <% include('/firstyr/index') %>
<% } else if (section === 'secondyr') { %>
  <% include('aiml/secondyr/index') %>
<% } else if (section === 'thirdyr') { %>
  <% include('aiml/thirdyr/index') %>
<% } else if (section === 'fourthyr') { %>
  <% include('aiml/fourthyr/index') %>
<% } else { %>
  <h2 class="designedforalltext">Please select your year</h2>
<% } %>

    </div>
    <script src="js/content.js"></script>
    <script src="js/g.js"></script>
  </body>
  </html>
