<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ExamSavior - RGPV Notes, Mini Projects & Last Year Papers</title>

  <meta name="description" content="ExamSavior provides RGPV notes, last-year papers, mini projects, and a text-to-speech tool for students. Download free resources to ace your exams!">
  <meta name="keywords" content="RGPV Notes,rgpv notes, rgpv notes 6th sem cse, rgpv notes 2nd year, rgpv notes 1st year, rgpv notes 3rd year, rgpv notes 4th sem, rgpv notes 5th sem, dbms rgpv notes, rgpv notes 3rd sem, machine learning rgpv notes, rgpv beee notes, rgpv 6th sem notes, rgpv software engineering notes, rgpv notes 6th sem ec, basic civil engineering notes rgpv, rgpv bme notes, RGPV Last Year Papers, Mini Projects, Text to Speech, ExamSavior,Exams,Rgpv notes Engineering Study Materials">
  <meta name="author" content="ExamSavior Team">
  <meta name="robots" content="index, follow">
  
  <!-- Canonical URL -->
  <link rel="canonical" href="https://examsavior.vercel.app/">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="ExamSavior - RGPV Notes, Mini Projects & Last Year Papers">
    <meta property="og:description" content="Get free RGPV notes, mini projects, and last-year papers. Also, use our Text-to-Speech tool to enhance your study experience!">
    <meta property="og:image" content="https://examsavior.vercel.app/favicon.png">
    <meta property="og:url" content="https://examsavior.vercel.app/">
    <meta property="og:type" content="website">

    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ExamSavior - Your RGPV Study Companion">
    <meta name="twitter:description" content="Download RGPV notes, last-year papers, and mini projects. Plus, use our text-to-speech tool to study better!">
    <meta name="twitter:image" content="https://examsavior.vercel.app/favicon.png">
    <meta name="twitter:site" content="@ExamSavior">
  
    <link rel="icon" type="image/png" href="https://examsavior.vercel.app/favicon.png">

  <meta name="theme-color" content="#4A90E2">

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/mobilemedias.css">
  <link rel="stylesheet" href="/css/darkthemestyles.css">
  <link rel="stylesheet" href="/css/footerandfollowus.css">
  <link rel="stylesheet" href="/css/otherfeaturesservice.css">
  <link rel="stylesheet" href="/css/sliderstvs.css">
  <link rel="stylesheet" href="/css/servicedropdownmenuandother.css">


  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- <script src="https://kit.fontawe  some.com/fb78652043.js" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/fb78652043.js" crossorigin="anonymous"></script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://examsavior.vercel.app/",
      "publisher": {
        "@type": "Organization",
        "name": "ExamSavior",
        "logo": "https://examsavior.vercel.app/favicon.png"
      }
    }
    </script>
    
  
  <style>

    .display-none {
      display: none;
    }

    .display-block {
      display: block;
    }

    .hid {
      display: none;
    }

.specialwel{
  color: rgb(35 84 110);
    font-size: 18px;
   
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-left: 57px;
    height: calc(100% -23px);
}
@media screen and (max-width: 768px) {
  .specialwel{
    margin-left: 0px;
  
}

}
  </style>
  <meta name="google-site-verification" content="4aB5lT-qS6qlyoJxTO-dbw-EGPzNsj6BuRyA_Zv24iY" />
</head>

<body>
  <div class="main">

    <div class="uppernav">
      <nav>
        
        <span class="spannn">
          
          <a href="">
            <p style="display: flexbox;"><img src="/images/EXAM SAVIOR (2).png" alt="Logo" class="nav-logo"><span
                class="pop">Exam Savior</span> </p>
              
          </a>
          

        </span>
        <div class="nav_list_items">
          <ul>
           
          
            <li><a href="#" id="homess" onclick="showHome()">HOME</a></li>
            <!-- Home link -->
            <li><a href="#" id="servicess &dtrif;">SERVICES</a>
            </li>
            <li><a href="#" id="contactss">CONTACT</a></li>
            <label class="switch" id="theme-toggle">
              <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <g fill="#ffd43b">
                    <circle r="5" cy="12" cx="12"></circle>
                    <path
                      d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z">
                    </path>
                  </g>
                </svg></span>
              <span class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z">
                  </path>
                </svg></span>
              <input type="checkbox" class="input">
              <span class="slider"></span>
            </label>
            <!-- Theme toggle -->
          </ul>
        </div>
      </nav>
    </div>
    <hr />

    <div id="main-content">
      <div class="main-img-content-holder">
       
        <div class="activewhen768ok">
          
          <div>
            <div class="gt">Welcome to</div>
            <div class="gt2">Exam Savior!</div>
            <p class="gt3">
              Welcome to Exam Savior – your ultimate destination for RGPV notes, text-to-speech, last year question papers, and beyond! Whether you're preparing for exams or staying informed at any college.
              </p>
          </div>
          <span>
        
            <% if (!user) { %>  
              <!-- Show Login & Signup when NO user is logged in -->
              <button class="loggin1" id="loginbtn">Login</button >
              <button class="loggin2" id="signupbtn">Signup</button >
              
          <% } else { %>  
              <!-- Show Welcome message & Logout button when user is logged in -->
              <p class="specialwel">Welcome, <%= user.name %>!</p>
              <button class="logout1"><a style="text-decoration: none;
                color: white; cursor: pointer;" href="/user/logout">Logout</a></button >
                
          <% } %>
        
            <!-- <button class="loggin1" id="loginbtn">Login</button>
          <button class="loggin2" id="signupbtn">Sign up</button> -->
        </span>
        </div>
        <div class="nut">
          <div class="welcomenote">
            <p class="wel">Welcome to</p>
            <span class="non">Exam Savior!</span>
          </div>
          <div id="content" class="content">
            <p>
              Welcome to Exam Savior – your ultimate destination for RGPV notes, text-to-speech, last year question papers, and beyond! Whether you're preparing for exams or staying informed at any college.
            </p>

          </div>
          <div>
            <span class="lgholder">
              <% if (!user) { %>  
                <!-- Show Login & Signup when NO user is logged in -->
                <button class="loggin1" id="loginbtnone">Login</button >
                <button class="loggin2" id="signupbtntwo">Signup</button >
                
            <% } else { %>  
                <!-- Show Welcome message & Logout button when user is logged in -->
                <p class="specialwel">Welcome, <%= user.name %>!</p>
                <button class="logout1"><a style="text-decoration: none;
                color: white; cursor: pointer;" href="/user/logout">Logout</a></button >
            <% } %>
              <!-- <button class="loggin1" id="loginbtnone">Login</button>
              <button class="loggin2" id="signupbtntwo">Sign up</button> -->

            </span>
          </div>
        </div>


        <!-- MAIN -->
        <!-- ========================================================================== -->
        <div class="slidertv">
          <div class="tvframe">
            <div class="c">

              <input type="radio" name="a" id="cr-1" checked>
              <label for="cr-1" style="--hue: 32"></label>
              <div class="ci" style="--z: 4">
                <!-- <h2 class="ch" style="--h: 32; --s: 80%; --l: 90%">What do you know?</h2> -->
                <img src="/images/Firstwelcomepng.png" alt="welcomeimage">
              </div>

              <input type="radio" name="a" id="cr-2">
              <label for="cr-2" style="--hue: 82"></label>
              <div class="ci" style="--z: 3">
                <!-- <h2 class="ch" style="--h: 82; --s: 80%; --l: 90%">Look from inside?</h2> -->
                <img src="/images/secondpicture.png" alt="Texttospeechimage">
              </div>

              <input type="radio" name="a" id="cr-3">
              <label for="cr-3" style="--hue: 40"></label>
              <div class="ci" style="--z: 2">
                <!-- <h2 class="ch" style="--h: 40; --s: 100%; --l: 89%">In the mountains?</h2> -->
                <img src="/images/third.png" alt="#">
              </div>

              <input type="radio" name="a" id="cr-4">
              <label for="cr-4" style="--hue: 210"></label>
              <div class="ci" style="--z: 1">
                <!-- <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">Above looks beautiful?</h2> -->
                <img src="/images/fourth.png" alt="#">
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>

    <!--//////////////////////////////////////////////////////////////////////////////////////////////  -->
    <div id="sidebarkiid" class="sidebar sidebarr sidebar-hidden">
      <ul>
        <li class="hover-underline">
          <a href="#" style="cursor: default" ; class="logo">
            <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
            <span class="text blackafterdark">Select year</span>
          </a>
        </li>
        <li class="hover-underline">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-1"></i></span>
            <span id="firstyr" class="text blackafterdark" onclick="sidebar_selected_year_first()">First Year</span>
          </a>
        </li>
        <li class="hover-underline">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-2"></i></span>
            <span id="secondyr" class="text blackafterdark" onclick="sidebar_selected_year_second()">Second Year</span>
          </a>
        </li>
        <li class="hover-underline">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-3"></i></span>
            <span id="thirdyr" class="text blackafterdark" onclick="sidebar_selected_year_third()">Third Year</span>
          </a>
        </li>
        <li class="hover-underline">
          <a href="#">
            <span class="icon"><i class="fa-solid fax-4"></i></span>
            <span class="text blackafterdark" id="fourthyr" onclick="sidebar_selected_year_fourth()">Fourth Year</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////// -->
    <div id="branch-selection">
      <div class="choose-branch">
        <p class="dark-theme-choose-branch-content">Choose your Branch</p>
      </div>
      <div class="branches">
        <div class="card card1 shadow sidebar-toggle-button" onclick="showBranchContent('aids')">
          <p class="newdarkd">Artificial Intelligence & Data Science</p>
          <p class="newdark">(AIDS)</p>
        </div>
        <div class="card card2 shadow sidebar-toggle-button" onclick="showBranchContent('aiml')">
          <p class="newdarkd">Artificial Intelligence & Machine Learning</p>
          <p class="newdark">(AIML)</p>
        </div>
        <div class="card card3 shadow sidebar-toggle-button" onclick="showBranchContent('cse')">
          <p class="newdarkd">Computer Science & Engineering</p>
          <p class="newdark">(CSE)</p>
        </div>
        <div class="card card4 shadow sidebar-toggle-button" onclick="showBranchContent('iot')">
          <p class="newdarkd">Internet of Things</p>
          <p class="newdark">(IOT)</p>
        </div>
        <div class="card card5 shadow sidebar-toggle-button" onclick="showBranchContent('it')">
          <p class="newdarkd">Information Technology</p>
          <p class="newdark">(IT)</p>
        </div>

        <div class="card card6 shadow sidebar-toggle-button" onclick="showBranchContent('cs')">
          <p class="newdarkd">Cyber Security</p>
          <p class="newdark">(CS)</p>
        </div>

        <div class="card card7 shadow sidebar-toggle-button" onclick="showBranchContent('me')">
          <p class="newdarkd">Mechanical Engineering</p>
          <p class="newdark">(ME)</p>
        </div>

        <div class="card card8 shadow sidebar-toggle-button" onclick="showBranchContent('ce')">
          <p class="newdarkd">Civil Engineering</p>
          <p class="newdark">(CE)</p>
        </div>
      </div>
    </div>
  </div>

  <div id="dynamic-content" class="hidden">
    <div id="branch-content"></div>
  </div>
  <div class="content">
    <div id="firstyear" class="section hid">

    </div>
    <div id="secondyear" class="section hid">

    </div>
    <div id="thirdyear" class="section hid">

    </div>

    <div id="fourthyear" class="section hid">

    </div>
  </div>
  <div id="facilities-container" class="ttscon">

    <div class="tts">
      <div id="facilities-container2" class="facilities">
        <p>Other Features</p>
      </div>
      <div class="parallax tatti">
        
       
        <div class="box box1">
          <div class="o1">
            <img src="/images/Project.png" alt="">
          </div>
          <div  class="o2">
            Make your college journey easier by relying on us for your mini projects. Get ready-made free
            projects or give us a chance to create custom projects for you at an affordable price. Contact us now!

          </div>
          <button class="contact-btn"> <a style="text-decoration: none;
            color: white ; " href="/miniprojects">Let's Go</a></button>

        </div>
        
         <hr class="jss">
        <div class="box box2">
          <div class="o1">
            <img src="/images/Project1.png" alt="">
          </div>
          <div class="o2">
            Text to Speech (TTS) offers clear, natural-sounding voices with customizable audio selections.
            It enhances accessibility with high-quality, original speech synthesis.

          </div>
          <button class="contact-btn"> <a style="text-decoration: none;
            color: white ; " href="/tts">Let's Go</a></button>
        </div>
        <hr class="jss">
        <div class="box box3">
          <div class="o1">
            <img src="/images/Project2.png" alt="">
          </div>
          <div class="o2">
            Access all the previous year question papers of RGPV in one place! Whether you’re preparinxg
            for exams or revising important topics, See exam pattern, important questions, and marking schemes.
          </div>
          <button class="contact-btn"> <a style="text-decoration: none;
            color: white ; " href="/lastyear">Let's Go</a></button>
        </div>
      </div>
    <div id="facilities-container3" class="threedivcontainer shadows">
      <div class="threedivs first-of-threediv">
        <img src="/images/Project.png" class="imaig" alt="mini"></img>
        <span>Mini Projects</span>
        <p class="info">Make your college journey easier by relying on us for your mini projects. Get ready-made free
          projects or give us a chance to create custom projects for you at an affordable price. Contact us now!</p>
        <button class="bthh">
          <a style="text-decoration: none;
            color: white ; " href="/miniprojects">Let's Go</a>
        </button>
      </div>
      <div class="threedivs second-of-threediv">
        <img src="/images/Project1.png" class="imaig img11" alt="tts"></img>
        <span>Text to Speech</span>
        <p class="info">Text to Speech (TTS) offers clear, natural-sounding voices with customizable audio selections.
          It enhances accessibility with high-quality, original speech synthesis.</p>

        <button class="bthh">
          <a style="text-decoration: none;
            color: white ; " href="/tts">Let's Go</a>
        </button>

      </div>

      <div class="threedivs glass-effect third-of-threediv">
        <img src="/images/Project2.png" class="imaig" alt="rgpvlastyearpaper"></img>
        <span>Rgpv Last Year Papers</span>
        <p class="info">Access all the previous year question papers of RGPV in one place! Whether you’re preparing
          for exams or revising important topics, See exam pattern, important questions, and marking schemes. </p>

        <button class="bthh">
          <a style="text-decoration: none;
            color: white ; " href="/lastyear">Let's Go</a>
        </button>
      </div>
    </div>
  </div>
  </div>

  <footer class="ttscon2">
     <div id="madebyashishd"  class="madebyashish">Created by ❤️ Ashish</div>
    <div id="footercont" class="footercontainer">
      
      <span class="spancont">© 2024 ExamSavior All rights reserved</span>
      <span class="spancont contactd">Contact</span>
      <span class="spancont followd">Follow us :</span>

      <!-- From Uiverse.io by wilsondesouza -->
      <span class="social-container">
        <ul class="social-icons">
          <li><a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/ashish-singh-4001012a5/"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://github.com/Ashishx3"><i class="fa fa-github"></i></a></li>
        </ul>
      
      </span>

    </div>

  </footer>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "EducationalOrganization",
      "name": "ExamSavior",
      "url": "https://examsavior.vercel.app/",
      "description": "ExamSavior provides RGPV notes, last-year papers, mini projects, and a text-to-speech tool for students.",
      "image": "https://examsavior.vercel.app/logo.png",
      "founder": {
        "@type": "Person",
        "name": "Your Name (if applicable)"
      }
    }
    </script>
  
  <script>
    ["loginbtn", "loginbtnone"].forEach(id => {
  document.getElementById(id).addEventListener("click", () => {
    window.location.href = "/login";
  });
});

["signupbtn", "signupbtntwo"].forEach(id => {
  document.getElementById(id).addEventListener("click", () => {
    window.location.href = "/signup";
  });
});
  </script>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      let currentIndex = 1; // Start from the first slide
      const slideCount = 4; // Total number of slides
      const intervalTime = 2000; // 2 seconds

      function autoSlide() {
        let slideInput = document.getElementById(`cr-${currentIndex}`);
        if (slideInput) {
          slideInput.checked = true;
        }

        currentIndex++;
        if (currentIndex > slideCount) {
          currentIndex = 1; // Loop back to first slide
        }
      }

      setInterval(autoSlide, intervalTime);
    });
  </script>
 
  
  
 <script src="js/content.js"></script>
  <script src="js/script.js?v=<%= Date.now() %>"></script>


  <!-- <script src="js/script.js"></script> -->

</body>

</html>