<!-- views/partials/pdf-popup.ejs -->

<div id="btncontains">
  <h3 style="margin-bottom: 10px;">What would you like to do?</h3>

  <a id="downloadpdf" target="_blank">
    <button class="bu">Download PDF</button>
  </a>

  <a id="viewpdf" target="_blank">
    <button class="bu">View PDF</button>
  </a>

  <button id="closeBtn">✖</button>
</div>

