
     <div id="sidebarkiid" class="sidebar sidebarr sidebar-hidden">
  <ul>
    <li class="hover-underline">
      <a href="#" style="cursor: default;" class="logo">
        <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
        <span class="text blackafterdark">Select year</span>
      </a>
    </li>

    <li class="hover-underline">
      <a href="/aids/first-year">
        <span class="icon"><i class="fa-solid fa-1"></i></span>
        <span class="text blackafterdark">First Year</span>
      </a>
    </li>

    <li class="hover-underline">
      <a href="/aids/second-year">
        <span class="icon"><i class="fa-solid fa-2"></i></span>
        <span class="text blackafterdark">Second Year</span>
      </a>
    </li>

    <li class="hover-underline">
      <a href="/aids/third-year">
        <span class="icon"><i class="fa-solid fa-3"></i></span>
        <span class="text blackafterdark">Third Year</span>
      </a>
    </li>

    <li class="hover-underline">
      <a href="/aids/fourth-year">
        <span class="icon"><i class="fa-solid fa-4"></i></span>
        <span class="text blackafterdark">Fourth Year</span>
      </a>
    </li>
  </ul>
</div>
