<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Exam-Savior || AIDS Second Year </title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/mobilemedias.css">
  <link rel="stylesheet" href="../../../css/darkthemestyles.css">

  <link rel="stylesheet" href="../../../css/footerandfollowus.css">
  <link rel="stylesheet" href="../../../css/otherfeaturesservice.css">
  <link rel="stylesheet" href="../../../css/sliderstvs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="https://examsavior.net/favicon.png">
    <link rel="icon" type="image/png" href="/images/EXAM SAVIOR (2).png">

</head>
<body>
     <%- include('../../navbar') %>
        <%- include('../../sidebarforaids') %>
      <div id="ass">

      </div>

      <script src="../../../js/content.js"></script>
      <script src="../../../js/g.js"></script>

      <script>

      const branchs = localStorage.getItem("selectedBranch");
        
      sidebar_selected_year_second()
      
      console.log("Branch loaded from localStorage:", branchs);

</script>
</body>

</html>